.about {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;

    @media only screen and(max-width: $bp-large) {
        flex-direction: column;
      }

    &__img {
        width: 100%;

        @media only screen and(max-width: $bp-large) {
            width: 85%;
            }
    }

    &__details {
        width: 60%;
        height: 70vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: $color-primary-light;

        @media only screen and(max-width: $bp-medium) {
            height: 40vh;
            width: 85%;
        }

        @media only screen and(max-width: $bp-large) {
            height: 50vh;
            width: 85%;
        }
    }

    &__text { 
        margin: 0 5rem;
        padding: 4rem;
        border: 1px solid $color-grey-light-1;
        font-size: 1.2rem;
        color: $color-grey-light-1;

        @media only screen and(max-width: $bp-medium) {
            font-size: 1.2rem;
            padding: 2rem;
            margin-top: 3rem;
        }
    }
}

.btn-about {
    @media only screen and(max-width: $bp-medium) {
        margin-bottom: 5rem;
    }
}